@import 'variables.css';
@import 'icon.css';

html, body {
    font-family: "Source Sans Pro", "Source Han Sans SC", "Source Han Sans", "Heiti SC", sans-serif;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    background-color: var(--color-bg);
}
body {
    padding: 0;
}

.error {
    outline: 1px solid #f00;
}
[tabindex]:focus {
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
}

.editer {
    box-sizing: border-box;
    padding: 12px;
    overflow-y: auto;
    appearance: none;
    border: none;
    outline: none;
    font-family: monospace;
    font-size: var(--font-size-xl);
    line-height: normal;
    font-weight: 400;
    word-wrap: break-word;
    word-break: break-all;
    word-spacing: 0;
    letter-spacing: 0;
}

.input-box {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-bottom: 1px solid var(--color-light);
}
.input {
    display: table-cell;
}
.input input {
    width: 100%;
    height: 48px;
    padding: 8px 12px;
    box-sizing: border-box;
    border: none;
    outline: none;
    appearance: none;
}
.select {
    position: relative;
    display: table-cell;
    width: 48px;
}
.select_text {
    width: 100%;
    height: 48px;
    padding: 0;
    overflow: hidden;
    line-height: 48px;
    text-align: center;
    vertical-align: middle;
    appearance: none;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
.select_options {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    display: none;
    margin: 0;
    padding: 0;
    background-color: var(--color-gray);
}
.select_options>li {
    margin: 8px;
    list-style: none;
}
.select_options>li+li {
    margin-top: 0;
}
.select_options>li:hover {
    background-color: rgba(0, 0, 0, .2);
    color: white;
}

.select:hover, .select.show {
    background-color: rgba(0, 0, 0, .2);
}
.select.show .select_options {
    display: block;
}

.select_option {
    width: 100%;
    appearance: none;
    border: none;
    outline: none;
    background-color: transparent;
    text-align: left;
    white-space: nowrap;
    cursor: pointer;
}
.select_option * {
    pointer-events: none;
}
.select_option em {
    margin: 0 4px;
    font-family: monospace;
    font-weight: 600;
    color: darkred;
}

@media(--pc) {
    .select.show::before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 50%);
        display: block;
        border: 8px solid transparent;
        border-bottom: 8px solid var(--color-gray);
    }
    .select_options {
        position: absolute;
        left: 48px;
        top: 100%;
        right: initial;
        bottom: initial;
        transform: translateX(-100%);
        min-width: 160px;
        margin-top: 8px;
    }
}
