<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= htmlWebpackPlugin.options.TITLE %>, 在线学习、测试正则表达式</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index, nofollow, noarchive">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta name="revist-after" content="7days">
  <meta name="referrer" content="always">
  <meta name="application-name" content="<%= htmlWebpackPlugin.options.TITLE %>">
  <meta name="description" content="<%= htmlWebpackPlugin.options.DESCRIPTION %>">
  <meta name="keywords" content="<%= htmlWebpackPlugin.options.KEYWORDS %>">
  <meta name="author" content="<%= htmlWebpackPlugin.options.AUTHOR %>">
  <meta name="contact" content="<%= htmlWebpackPlugin.options.CONTACT %>">
  <link rel="copyright" href="<%= htmlWebpackPlugin.options.LICENSE %>">
  <meta property="og:type" content="webpage">
  <meta property="og:url" content="<%= htmlWebpackPlugin.options.HOME_PAGE %>">
  <meta property="og:title" content="<%= htmlWebpackPlugin.options.TITLE %>">
  <meta property="og:description" content="<%= htmlWebpackPlugin.options.DESCRIPTION %>">
  <meta property="og:image" content="<%= htmlWebpackPlugin.options.HOME_PAGE %>/share.jpg">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:site_name" content="<%= htmlWebpackPlugin.options.TITLE %>">
  <meta property="og:locale" content="zh-CN">
  <meta name="weibo:webpage:create_at" content="<%= htmlWebpackPlugin.options.CREATE_AT %>">
  <meta name="weibo:webpage:update_at" content="<%= htmlWebpackPlugin.options.UPDATE_AT %>">
  <body>
    <div id="app"></div>
  </body>
</html>
